<%- include('./partials/header') %>
    <h1>Skills</h1>
    <ul>
        <% skills.forEach(function(t) { %>
          <li>
            <a href="/skills/<%= t.id %>"><%= t.skill %></a>
            <%= t.skill %>
              - 
            <%= t.done ? 'done' : 'not done' %>
          </li>
        <% }); %>
      </ul>
    
<%- include('./partials/footer') %>
