<%- include('../partials/header') %>

<ul>
  <li><% skills.forEach(function(t) { %></li>

  <li>
    <a href="/skills/<%= s.id %>"><%= s.skill %></a>
    - <%= s.done ? 'done' : 'not done' %>
  </li>
  <% }); %>
</ul>

<%- include('../partials/footer') %>
